#spons * {
    background-color: #020624;
}

#spons .line{
    width: 20rem;
    border-top: 2px solid white;
}

#spons .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#spons .flexr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-inline: 20rem; */
}

#spons .flexr img{
    padding: 2rem;
}

#spons img {
    height: 10rem;
    width: auto;
}

#spons .white {
    text-align: center;
    color: white;
    font-size: 2rem;
}

#spons .border {
    padding-top: 0.5rem;
    border-top: 2px solid white;
    border-width: 20%;
}

#spons .box {
    height: auto;
    width: 15rem;
    border-top: 2px solid whitesmoke;
    align-items: center;
    padding-top: 0.5rem;
}

#spons .bgwhite{
    background-color: white;
}

@media(max-width:480px){
    #spons .bank{
        width: 80%;
        height: auto;
    }
}